HW3SubmissionPage/Service References/ServiceReferenceNearByPlaces/NearByPlaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NearByPlaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NearByPlaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlacesList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlacesList" nillable="true" type="tns:PlacesList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlacesList" nillable="true" type="tns:ArrayOfPlacesList" />
  <xs:complexType name="PlacesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="formatted_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price_level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlacesList" nillable="true" type="tns:PlacesList" />
</xs:schema>