HW3SubmissionPage/Service References/ServiceReferenceNearByPlaces/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NearByPlaces" />
  <xs:element name="GetPlacesData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlacesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NearByPlaces" minOccurs="0" name="GetPlacesDataResult" nillable="true" type="q1:ArrayOfPlacesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>