HW3SubmissionPage/Service References/ServiceReferenceSynonym/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.11.192:8001/SynonymWebService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SynonymWebService" />
  <xs:element name="getSynonyms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSynonymsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SynonymWebService" minOccurs="0" name="getSynonymsResult" nillable="true" type="q1:TextMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>